[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "controlTest"]
	path = controlTest
	url = https://github.com/erickawaguchi/controltest
[submodule "powerCompRisk"]
	path = powerCompRisk
	url = https://github.com/cran/powerCompRisk
